<h1 class='center'>All Users.</h1>
<ul class="nav nav-tabs">
  <li>
    <%= link_to "Posts", posts_path %>
  </li>
  <li class="active">
    <%= link_to "User", users_path %>
  </li>
</ul>

<% @users.each do |user| %>
<div class='row'>
    <div class='col-md-4 col-lg-offset-4 center'>
      <section class='chef_info center'>
        <h5>Blogger Name: <%= link_to user.name, user_path(user) %></h5>
      </section>
    </div>
</div>
<% end %>

