<div class ='btn btn-success'> <a href="#new">New Blog Post</a> </div>
<table class='table table-condensed table-hover'>
  <tbody>
    <tr>
     <th>Title</th>
     <th>Action</th>
     <th>Action</th>
     <th>Action</th>
    </tr>
  </tbody>
</table>

