<div class ='btn btn-success'> <a href="#new">New Blog Post</a> </div>
<table class='table table-condensed table-hover'>
  <tbody>
    <tr>
     <th class='center'>Title</th>
     <th></th>
     <th></th>
     <th></th>
    </tr>
  </tbody>
</table>

