<a href="#new" class="btn btn-success" role="button">New Blog Post</a>
<table class='table table-condensed table-hover'>
  <tbody>
    <tr>
     <th>Title</th>
     <th>Action</th>
     <th>Action</th>
     <th>Action</th>
    </tr>
  </tbody>
</table>

