<td><%= title %></td>

<td ><a href="#/<%= id %>" class="btn btn-info btn-sm" role="button"><i class='glyphicon glyphicon-eye-open'></i>Show</a></td>
<td><a href="#/<%= id %>/edit" class="btn btn-warning btn-sm" role="button"><i class='glyphicon glyphicon-pencil'>Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="btn btn-danger btn-sm" role="button"><i class='glyphicon glyphicon-remove'>Destroy</a></td>