<td><%= title %></td>

<td ><div class='btn btn-sm btn-info'><i class='glyphicon glyphicon-eye-open'></i><a href="#/<%= id %>">Show</div></td>
<td><div class='btn btn-sm btn-success'><i class='glyphicon glyphicon-pencil'><a href="#/<%= id %>/edit">Edit</div></td>
<td><div class='btn btn-sm btn-danger'><i class='glyphicon glyphicon-remove'><a href="#/<%= id %>/destroy" class="destroy">Destroy</div></a></td>